<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
         Create Reminder
      </h1>
      {{> messages}}
      <form action="/users/createreminder/{{email}}" method="POST">
        <div class="form-group">
          <label for="body">Description</label>
          <input
            type="text"
            id="body"
            name="body"
            class="form-control"
            placeholder="Enter Text"
          />
        </div>
        <div class="form-group">
          <label for="owner">Recipient Name</label>
          <input
            type="text"
            id="owner"
            name="owner"
            class="form-control"
            placeholder="Enter Name"
          />
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input
            type="text"
            id="number"
            name="number"
            class="form-control"
            placeholder="Enter Phone Number"
          />
        </div>
        <div class="form-group">
            <label for="tripStart">Date</label>
            <input 
            type="date" 
            id="start" 
            name="tripStart"
            value="2022-09-22"
            min="2022-09-01" max="2023-09-21">
        </div>
        <div class="form-group">
            <label for="appt">Time</label>
            <input 
            type="time" 
            id="appt" 
            name="appt" 
            value="00:00">
        </div>
        
        
        <button type="submit" class="btn btn-primary btn-block">
          Create
        </button>
      </form>
    </div>
  </div>
</div>